@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}

a {
    text-decoration: none;
    color: black;
}

.content-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-wrap: nowrap;
    .sidebar {
        width: 300px;
        padding: 10px;
        flex-basis: 20%;
        ul {
            li {
                a {
                    text-decoration: none;
                    &:hover {
                        color: #e91e63;
                    }
                }
                padding: 5px;
                list-style: none;
                font-weight: bold;
            }
        }
        border-right: 1px solid #5f6368;
    }
    .main-content {
        flex-basis: 80%;
        padding: 10px;
    }
}

// button
.button {
    // &:hover {
    //     transform: scale(1.2);
    // }
    // text-decoration: none;
    // background: #e91e63;
    // color: white;
    // padding: 5px;
    // margin: 3px;
}

table {
    font-family: monospace;
    font-size: 11px;
    tr {
        vertical-align: middle;
    }
}